<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.AlbumMapper">

    <resultMap id="rm" type="Album">
        <id column="a_id" property="id"/>
        <result column="a_title" property="title"/>
        <result column="count" property="count"/>
        <result column="cover_img" property="cover_img"/>
        <result column="score" property="score"/>
        <result column="author" property="author"/>
        <result column="broadcast" property="broadcast"/>
        <result column="brief" property="brief"/>
        <result column="a_date" property="pub_date"/>
        <collection property="children" ofType="Chapter">
            <id column="c_id" property="id"/>
            <result column="c_title" property="title"/>
            <result column="size" property="size"/>
            <result column="duration" property="duration"/>
            <result column="url" property="url"/>
            <result column="upload_date" property="upload_date"/>
        </collection>
    </resultMap>

    <select id="queryAll" resultMap="rm">
        select a.id a_id ,a.title a_title ,a.count ,a.cover_img ,a.score ,a.author ,a.broadcast,a.brief,
        a.pub_date a_date ,c.id c_id ,c.title c_title ,c.size ,c.duration ,c.url ,c.upload_date
        from album a left join chapter c
        on a.id = c.a_id
        order by a.id
    </select>


</mapper>
